body {
    background-image: url(mo-vi6RTRzSR5g-unsplash.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#corpo {
    background-color: rgba(255, 255, 255, 0.473);
    text-align: center;
    margin: auto;
    width: 400px;
}